SF Primes/src/flows/B4BCoaching_Record_Creation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>729</locationX>
        <locationY>420</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>B4B Coaching/Skillset Record Creation Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>endiem@endiem.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>EPC_Coaching_Log_Assignment</name>
        <label>EPC Coaching Log Assignment</label>
        <locationX>726</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>StatusB4B</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>B4BVisitStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfDaysNonBillable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>B4BPTO</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfDaysTraver</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseMajor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Major_EPC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseMinor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Minor_EPC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B4B_Coaching</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Billable_Assignment</name>
        <label>Non Billable Assignment</label>
        <locationX>726</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>StatusB4B</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>B4BVisitStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Start_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfDaysNonBillable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Of_Days_Traver_NonBillable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfDaysTraver</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>B4BPTO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B4B_PTO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B4B_Coaching</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Coach_Visit_Assignment</name>
        <label>Process Coach Visit Assignment</label>
        <locationX>726</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>NoOfDaysTraver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Of_Days_Traver3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StatusB4B</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>B4BVisitStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Start_Date3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfDaysNonBillable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>B4BPTO</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseMajor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Major_Process_Coach_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseMinor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Minor_Process_Coach_Visit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B4B_Coaching</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PSC_Assignment</name>
        <label>PSC Assignment</label>
        <locationX>726</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>StatusB4B</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>B4BVisitStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Start_Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfDaysNonBillable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>B4BPTO</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfDaysTraver</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseMajor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Major_PSC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseMinor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Minor_PSC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B4B_Coaching</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Confirmed</name>
        <choiceText>Confirmed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pushed</name>
        <choiceText>Pushed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pushed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tentative</name>
        <choiceText>Tentative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tentative</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Expertise_Major_Not_Blank</name>
        <label>Expertise Major Not Blank</label>
        <locationX>988</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Expertise_Major_Is_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExpertiseMajor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExpertiseMajor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>B4BRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Billable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Screen</targetReference>
            </connector>
            <label>Expertise Major Is Blank</label>
        </rules>
        <rules>
            <name>Expertise_Major_is_Not_Blank</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ExMajor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExMajor</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>B4BRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-Billable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skillset_Creation</targetReference>
            </connector>
            <label>Expertise Major is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_Display_Based_on_Record_Type</name>
        <label>Screen Display Based on Record Type</label>
        <locationX>352</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EPC_Coaching_Log</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>B4BRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPC Coaching Log</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_B4B_Coaching</targetReference>
            </connector>
            <label>EPC Coaching Log</label>
        </rules>
        <rules>
            <name>Non_Billable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>B4BRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Billable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_B4B_Coaching_NB</targetReference>
            </connector>
            <label>Non-Billable</label>
        </rules>
        <rules>
            <name>Process_Coach_Visit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>B4BRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process Coach Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_B4B_Record_Process_Coach_Visit</targetReference>
            </connector>
            <label>Process Coach Visit</label>
        </rules>
        <rules>
            <name>PSC_Visit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>B4BRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSC Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_B4B_Record_PSC</targetReference>
            </connector>
            <label>PSC Visit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>B4B_PTO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRV_NonBillable_Reason__c</picklistField>
        <picklistObject>Traver_Coaching__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>B4B_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Traver_Coaching__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>B4BCoachingRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Forfeiture</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Traver_Coaching__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>B4BRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Test1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Traver_Coaching__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>B4BCoaching RecordType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B4BCoaching Record Creation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>B4B_Coaching</name>
        <label>B4B Coaching</label>
        <locationX>989</locationX>
        <locationY>11</locationY>
        <assignRecordIdToReference>B4BRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Expertise_Major_Not_Blank</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Next_Visit_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_PSG__c</field>
            <value>
                <elementReference>No_Of_Days_PSG1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_Traver__c</field>
            <value>
                <elementReference>NoOfDaysTraver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>B4BCoachingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusB4B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRV_Completed_By__c</field>
            <value>
                <elementReference>resourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRV_NonBillable_Reason__c</field>
            <value>
                <elementReference>B4BPTO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRV_Number_Of_Days_NonBillable__c</field>
            <value>
                <elementReference>NoOfDaysNonBillable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traver_Project__c</field>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Start_Date__c</field>
            <value>
                <elementReference>B4BVisitStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Traver_Coaching__c</object>
    </recordCreates>
    <recordCreates>
        <name>Skillset_Creation</name>
        <label>Skillset Creation</label>
        <locationX>898</locationX>
        <locationY>421</locationY>
        <assignRecordIdToReference>skillSetId</assignRecordIdToReference>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TRV_B4B_Coaching__c</field>
            <value>
                <elementReference>B4BRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRV_Expertise_Major__c</field>
            <value>
                <elementReference>ExpertiseMajor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRV_Expertise_Minor__c</field>
            <value>
                <elementReference>ExpertiseMinor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRV_Skill_Level_Major__c</field>
            <value>
                <elementReference>skLevMajor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRV_Skill_Level_Minor__c</field>
            <value>
                <elementReference>skLevMinor</elementReference>
            </value>
        </inputAssignments>
        <object>TRV_Skillset__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Consulting_Project_Name</name>
        <label>Fetch Consulting Project Name</label>
        <locationX>64</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Resource_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <object>Traver_Project__c</object>
        <outputAssignments>
            <assignToReference>ConsultingProjectName</assignToReference>
            <field>TRV_Consulting_Project_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Resource_Name</name>
        <label>Fetch Resource Name</label>
        <locationX>63</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_User_Name_Based_on_Resource_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resourceId</elementReference>
            </value>
        </filters>
        <object>TRV_Resource__c</object>
        <outputReference>objresource</outputReference>
        <queriedFields>TRV_Resource__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_User_Name_Based_on_Resource_Id</name>
        <label>Fetch User Name Based on Resource Id</label>
        <locationX>64</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_B4B_Coaching_Record_type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objresource.TRV_Resource__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ResourceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Create_B4B_Coaching</name>
        <label>Create B4B Coaching EPC</label>
        <locationX>558</locationX>
        <locationY>9</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EPC_Coaching_Log_Assignment</targetReference>
        </connector>
        <fields>
            <name>B4BEPC</name>
            <fieldText>B4B Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visit_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>visitStartDate</elementReference>
            </defaultValue>
            <fieldText>Visit Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consulting_Project</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConsultingProjectName</elementReference>
            </defaultValue>
            <fieldText>Consulting Project</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Resource</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ResourceName</elementReference>
            </defaultValue>
            <fieldText>Completed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Tentative</choiceReferences>
            <choiceReferences>Confirmed</choiceReferences>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>Cancelled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>B4BEPCSkillSet</name>
            <fieldText>SkillSet Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expertise_Major_EPC</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExMajor</elementReference>
            </defaultValue>
            <fieldText>Expertise Major</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expertise_Minor_EPC</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExMinor</elementReference>
            </defaultValue>
            <fieldText>Expertise Minor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Create_B4B_Coaching_NB</name>
        <label>Create B4B Coaching NB</label>
        <locationX>558</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Non_Billable_Assignment</targetReference>
        </connector>
        <fields>
            <name>B4BNonBillable</name>
            <fieldText>B4B Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visit_Start_Date1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>visitStartDate</elementReference>
            </defaultValue>
            <fieldText>Visit Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consulting_Project1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConsultingProjectName</elementReference>
            </defaultValue>
            <fieldText>Consulting Project</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Completed_By1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ResourceName</elementReference>
            </defaultValue>
            <fieldText>Completed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Of_Days_Traver_NonBillable</name>
            <dataType>Number</dataType>
            <fieldText>No Of Days NonBillable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Status1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Confirmed</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason</name>
            <choiceReferences>B4B_PTO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Create_B4B_Record_Process_Coach_Visit</name>
        <label>Create B4B Record Process Coach Visit</label>
        <locationX>559</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Coach_Visit_Assignment</targetReference>
        </connector>
        <fields>
            <name>B4BProcess</name>
            <fieldText>B4B Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visit_Start_Date3</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>visitStartDate</elementReference>
            </defaultValue>
            <fieldText>Visit Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consulting_Project3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConsultingProjectName</elementReference>
            </defaultValue>
            <fieldText>Consulting Project</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Completed_By3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ResourceName</elementReference>
            </defaultValue>
            <fieldText>Completed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status3</name>
            <choiceReferences>Tentative</choiceReferences>
            <choiceReferences>Confirmed</choiceReferences>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>Cancelled</choiceReferences>
            <choiceReferences>Pushed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Of_Days_Traver3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>No Of Days Traver</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>B4BSkillProcess</name>
            <fieldText>SkillSet Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expertise_Major_Process_Coach_Visit</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExMajor</elementReference>
            </defaultValue>
            <fieldText>Expertise Major</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expertise_Minor_Process_Coach_Visit</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExMinor</elementReference>
            </defaultValue>
            <fieldText>Expertise Minor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Create_B4B_Record_PSC</name>
        <label>Create B4B Record PSC</label>
        <locationX>558</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PSC_Assignment</targetReference>
        </connector>
        <fields>
            <name>B4BPSC</name>
            <fieldText>B4B Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visit_Start_Date2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>visitStartDate</elementReference>
            </defaultValue>
            <fieldText>Visit Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consulting_Project2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConsultingProjectName</elementReference>
            </defaultValue>
            <fieldText>Consulting Project</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Completed_By</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ResourceName</elementReference>
            </defaultValue>
            <fieldText>Completed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status2</name>
            <choiceReferences>Tentative</choiceReferences>
            <choiceReferences>Confirmed</choiceReferences>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>Cancelled</choiceReferences>
            <choiceReferences>Pushed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Of_Days_PSG1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>5.0</numberValue>
            </defaultValue>
            <fieldText>No Of Days PSG</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>B4BPSCSkillSet</name>
            <fieldText>SkillSet Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expertise_Major_PSC</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExMajor</elementReference>
            </defaultValue>
            <fieldText>Expertise Major</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expertise_Minor_PSC</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExMinor</elementReference>
            </defaultValue>
            <fieldText>Expertise Minor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>1026</locationX>
        <locationY>513</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>Your B4B record for a {!B4BRecordTypeName} has been created.  Click on the Finish button to add any other necessary information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>732</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Select_B4B_Coaching_Record_type</name>
        <label>Select B4B Coaching Record type</label>
        <locationX>226</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Display_Based_on_Record_Type</targetReference>
        </connector>
        <fields>
            <name>B4BRecordType</name>
            <fieldText>Select B4B Record Type</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>B4B_Record_type</name>
            <choiceReferences>B4BCoachingRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>B4B Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Fetch_Consulting_Project_Name</startElementReference>
    <textTemplates>
        <name>ErrorTemplate</name>
        <text>VisitStartDtae - {!visitStartDate}
NumberOfDaysTraver - {!NoOfDaysTraver}
NextVisitDate - 
ExpertiseMajor - {!ExpertiseMajor} 
ExpertiseMinor - {!ExpertiseMinor}
SkillLevelMajor - {!skLevMajor}
SkillLevelMinor - {!skLevMinor}

ERROR - {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>B4BPTO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>B4BRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>B4BRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>B4BVisitStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsultingProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExMajor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExMinor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExpertiseMajor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ExMajor</elementReference>
        </value>
    </variables>
    <variables>
        <name>ExpertiseMinor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ExMinor</elementReference>
        </value>
    </variables>
    <variables>
        <name>NoOfDaysNonBillable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NoOfDaysTraver</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>objresource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TRV_Resource__c</objectType>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resourceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>skillSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>skLevMajor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>skLevMinor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusB4B</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
