SF Primes/src/flows/QR_Registration-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Get_QR_Code</name>
        <label>Get QR Code</label>
        <locationX>82</locationX>
        <locationY>225</locationY>
        <apexClass>ALL_TOTPPlugin</apexClass>
        <connector>
            <targetReference>Registration</targetReference>
        </connector>
        <inputParameters>
            <name>OTP_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>OTP_REGISTRATION_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>SECRET_INPUT</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>qr_url</assignToReference>
            <name>QR_URL_OUTPUT</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>secret</assignToReference>
            <name>SECRET_OUTPUT</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>476</locationX>
        <locationY>358</locationY>
        <apexClass>ALL_TOTPPlugin</apexClass>
        <connector>
            <targetReference>Login</targetReference>
        </connector>
        <inputParameters>
            <name>OTP_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>OTP_REGISTRATION_INPUT</name>
            <value>
                <elementReference>InputRegistrationToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SECRET_INPUT</name>
            <value>
                <elementReference>secret</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>IsTokenValid</assignToReference>
            <name>IsValid_OUTPUT</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Login</name>
        <label>Login</label>
        <locationX>259</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Token is invalid</defaultConnectorLabel>
        <rules>
            <name>Token_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTokenValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Succesfull</targetReference>
            </connector>
            <label>Token is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>257</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Already_Registered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Registered.</defaultConnectorLabel>
        <rules>
            <name>Register</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secret</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Screen</targetReference>
            </connector>
            <label>Register</label>
        </rules>
    </decisions>
    <interviewLabel>QR Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QR Registration</label>
    <processType>Flow</processType>
    <screens>
        <name>Already_Registered</name>
        <label>Already Registered</label>
        <locationX>258</locationX>
        <locationY>56</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OffsiteAccessRegistrationScreen1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Offsite Access Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line1</name>
            <fieldText>&lt;hr/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Registered</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Already Registered!!&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegisteredText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, you have already registered for Offsite Access. You can not register again. If you are still experiencing issues, please contact the IT Helpdesk. You can always email them at &lt;FONT KERNING=&quot;1&quot;&gt;{!MailingAddress} &lt;/FONT&gt;(mention &amp;apos;Offsite Salesforce Access Issue&amp;apos; in the email).&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!space}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;If you want to Remove Token, please click on the below link:{!space}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RemoveTokenLink}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Registration_Screen</name>
        <label>Registration Screen</label>
        <locationX>474</locationX>
        <locationY>223</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>OffsiteAccessRegistrationScreen2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Offsite Access Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line2</name>
            <fieldText>&lt;hr/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistrationTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Add a Time-based Token&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistrationInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Download the authenticator mobile device, scan the QR code, then enter the token.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistrationImage</name>
            <fieldText>&lt;IMG SRC=&quot;{!qr_url}&quot;&gt;
&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputRegistrationToken</name>
            <dataType>String</dataType>
            <fieldText>Input Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Registration_Succesfull</name>
        <label>Registration Succesfull</label>
        <locationX>258</locationX>
        <locationY>482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OffsiteAccessRegistrationScreen3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Offsite Access Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line3</name>
            <fieldText>&lt;hr/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Congratulations</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Congratulations!!&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessfullyRegistered</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have been successfully registered for Offsite Access. Thanks for registering!&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!space}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Each time when you access Salesforce.com while not on the CDK Network, you will need to enter your Salesforce.com Username/Password. CDK SSO functionality will Not work when off the network. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!space}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Note: &lt;/B&gt;Salesforce for Outlook will not fully work unless on the CDK network.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_QR_Code</startElementReference>
    <variables>
        <name>IsTokenValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsTrustedIP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;mailto:HelpMeIT@CDK.com?Subject=Offsite%20Salesforce%20Access%20Issue&quot; target=&quot;_top&quot;&gt;HelpMeIT@CDK.com&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>qr_url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemoveTokenLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;/apex/ALL_OffsiteAccessRemoveToken&quot; target=&quot;_top&quot;&gt;Remove Token&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>secret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>space</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;br/&gt;</stringValue>
        </value>
    </variables>
</Flow>
