SF Primes/src/flows/Two_Factor_Authentication-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Get_QR_Code</name>
        <label>Get QR Code</label>
        <locationX>406</locationX>
        <locationY>217</locationY>
        <apexClass>ALL_TOTPPlugin</apexClass>
        <connector>
            <targetReference>Registration</targetReference>
        </connector>
        <inputParameters>
            <name>OTP_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>OTP_REGISTRATION_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>SECRET_INPUT</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>qr_url</assignToReference>
            <name>QR_URL_OUTPUT</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>secret</assignToReference>
            <name>SECRET_OUTPUT</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>IP_in_trusted_IP_range</name>
        <label>IP in trusted IP range?</label>
        <locationX>31</locationX>
        <locationY>213</locationY>
        <apexClass>ALL_NetworkAccess</apexClass>
        <connector>
            <targetReference>IsTrustedIPDecision</targetReference>
        </connector>
        <inputParameters>
            <name>IP</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>IsTrustedIP</assignToReference>
            <name>IsTrusted</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>1046</locationX>
        <locationY>219</locationY>
        <apexClass>ALL_TOTPPlugin</apexClass>
        <connector>
            <targetReference>Login</targetReference>
        </connector>
        <inputParameters>
            <name>OTP_INPUT</name>
            <value>
                <elementReference>Input_Token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OTP_REGISTRATION_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>SECRET_INPUT</name>
            <value>
                <elementReference>secret</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>IsTokenValid</assignToReference>
            <name>IsValid_OUTPUT</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>IsTrustedIPDecision</name>
        <label>Is Trusted IP?</label>
        <locationX>193</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Get_QR_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Untrusted IP</defaultConnectorLabel>
        <rules>
            <name>Trusted_IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTrustedIP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Trusted IP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Login</name>
        <label>Login</label>
        <locationX>814</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Token is invalid</defaultConnectorLabel>
        <rules>
            <name>Token_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTokenValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Token is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>577</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Get_Token_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get TOTP</defaultConnectorLabel>
        <rules>
            <name>Register</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secret</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegisterForLoginFlow</targetReference>
            </connector>
            <label>Register</label>
        </rules>
    </decisions>
    <interviewLabel>Two Factor Authentication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Two Factor Authentication</label>
    <processType>Flow</processType>
    <screens>
        <name>Get_Token_Screen</name>
        <label>Get Token Screen</label>
        <locationX>580</locationX>
        <locationY>368</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>GetTokenTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Enter Time-Based Token&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TokenInstructions</name>
            <fieldText>Enter the token from the Salesforce Authenticator app on your mobile device.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Token</name>
            <dataType>String</dataType>
            <fieldText>Input Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>RegisterForLoginFlow</name>
        <label>RegisterForLoginFlow</label>
        <locationX>575</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RegisterForLoginFlow1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Sorry, you haven&amp;apos;t registered for Offsite Access. Hence, you will not be able to use this functionality for logging into Salesforce. &lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Kindly register and try again.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>IP_in_trusted_IP_range</startElementReference>
    <variables>
        <name>IsTokenValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsTrustedIP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>qr_url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
